<div class="container" style="margin-top: 4rem;">
    <h3 class="text-center">Chatbot Application</h3>
    <div class="media" style="background-color: whitesmoke; height: 5.5rem;">
        <img src="./img/chatbot-thumbnail.jpg"  class="rounded-circle img-thumbnail" width="60px" style="margin: 0.7rem 0 0 0.7rem; float: left;" alt="chatbot img">
        <div class="media-body" style="float: left;">
            <h5 style="margin: 1rem 0 0.3rem 0.7rem; ">Chatbot</h5>
            <span style="margin-left: 0.7rem; color: rgb(32,199,32);">online</span>
        </div>
    </div>

    <div id="chatContainer"class="container border overflow-auto" style="height: 25rem;"></div>
    <div class="input-group">
        <input id="textbox" type="text" class="form-control">
        <div class="input-group-append">
            <button id="sendBtn" type="button" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>